body
{
	margin: auto;
	background: linear-gradient(to right, gold,white);
}
.textototal
{
	height: 0%;
	width: 29%;
	background: orangered;
	text-align: center;
	margin: auto;
}
.imageninicio
{
	 background: red;
	 border: 8px;
}
.texto1
{
	font-size: 35px;
	color: white;
}
.texto2
{
 font-size: 20px;
 color: white;
}
.check
{
	color: white;
	font-size: 20px;
}

.imagen2:hover
{
	cursor: pointer;
}
input[type=text]
{
	border-radius: 8px;
	padding: 20px;
	width: 30%;
	font-size: 15px;
}
input[type=text]:focus
{
	background: lightgreen;
	color: black;
}
.boton
{
	border-radius: 8px;
	padding: 18px;
}
.boton:hover
{
	cursor: pointer;
	background: red;
	color: white;
}
.volver
{
	border-radius: 8px;
	padding: 18px;
}
.volver:hover
{
	cursor: pointer;
	background: yellow;
	color: black;
}